{% assign imgA1 = "logo.png" %}
<div class="base-footer">
    <div class="ef-content">
        <img src={{ imgA1 | asset_img_url }} loading="eager" width="48" height="48" />
        <div>B1:{{ section.settings.imgB1 }}</div>
        <img src={{ section.settings.imgB1 | image_url }} loading="eager" width="48" height="48" />
        <div>C1:{{ section.settings.imgC1 }}</div>
        <img src={{ section.settings.imgC1 }} loading="eager" width="48" height="48" />
    </div>
</div>

{% schema %}
    {
        "name": "t:sections.footer.name",
        "settings": [
            {
                "type": "text",
                "id": "imgC1",
                "label": "图片C-1",
                "default": "https://www.apple.com/v/iphone-14/i/images/key-features/features/size/size_yellow__dnv9794q7loy_large.jpg"
            },
            {
                "type": "image_picker",
                "id": "imgB1",
                "label": "图片B-1",
                "info": "图片B-2"
            }
        ]
    }
    {% endschema %}